{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>

                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">



                        <div class="form-group">
                            <label>Task</label>
                            <select name="task" class="form-control" id='task'>
                                <option value="">----</option>
                                {% for task in tasks  %}
                                <option value="{{task.id}}">{{task.name}}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        <button type="button" id='fetch_projectEngineer' class="btn btn-success btn-block">Fetch ProjectEngineers</button>
                        <div class="form-group" id="projectEngineer_data">

                        </div>
                    </div>
                </div>
                <!-- /.card -->

            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
<script>
    $(document).ready(function () {

       
        $("#fetch_projectEngineer").click(function () {
            var task = $("#task").val()
            $("#projectEngineer_data").html(null)
if (task.length  == 0){
    alert("Please select task");
    return false;
}
            $.ajax({
                url: "{% url 'get_projectEngineers' %}",
                type: 'POST',
                data: {
                    task: task
                }
            }).done(function (response) {
                var json_data = JSON.parse(response)
                if (json_data.length < 1) {
                    alert("No data to display")
                } else {
                    var div_data = "<hr/><div class='form-group'></div><div class='form-group'> <label>Attendance Date</label><input type='date' class='form-control' name='attendance_date' id='attendance_date' ><div class='row'>"

                    for (key in json_data) {
                        div_data += "<div class='col-lg-3'><div class='form-check custom-control custom-checkbox'><input type='checkbox' class='custom-control-input' checked='checked' name='projectEngineer_data[]' value=" + json_data[key]['id'] + " id='checkbox" + json_data[key]['id'] + "' /> <label for='checkbox" + json_data[key]['id'] + "' class='custom-control-label'>" + json_data[key]['name'] + "</label></div> </div>"
                    }
                    div_data += "</div></div>"
                    div_data += "<div class='form-group'><button id='save_attendance' class='btn btn-success' type='button'>Save Attendance</button></div>"
                    $("#projectEngineer_data").html(div_data)
                }
            }).fail(function (response) {
                alert("Error in fetching projectEngineers")
            })


            $(document).on('click', '#save_attendance', function () {
                $(this).attr("disabled","disabled")
                $(this).text("Saving Attendance Data...")
                var projectEngineer_data = $("input[name='projectEngineer_data[]']").map(function () {
                    if ($(this).is(":checked")){
                    return {'id':$(this).val(), 'status': 1};
    
                    }
                    return {'id':$(this).val(), 'status': 0};
    
                }).get()
                var attendance_date = $('#attendance_date').val()
                if (attendance_date.length < 10){
                    alert("Select date")
                    return false;
                }
                projectEngineer_data = JSON.stringify(projectEngineer_data)
                $.ajax({
                    url: "{% url 'save_attendance' %}",
                    type: 'POST',
                    data: {
                        date: attendance_date,
                        projectEngineer_ids: projectEngineer_data,
                        task: task
            
                    }
                }).done(function (response) {
                    if (response == 'OK'){
                        alert("Saved")
                    }else{
                        alert("Error. Please try again")
                    }
                    location.reload()
                    
                }).fail(function (response) {
                    alert("Error in saving attendance")
                })
    
            })


        })
    })
</script>
{% endblock custom_js %}