{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{page_title}}</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Track</th>
                                    <th>Avatar</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for projectEngineer in projectEngineers %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{projectEngineer.last_name}}, {{projectEngineer.first_name}}</td>
                                    <td>{{projectEngineer.email}}</td>
                                    <td>{{projectEngineer.gender}}</td>
                                    <td>{{projectEngineer.projectEngineer.track.name}}</td>
                                    <td>
                                        {% if projectEngineer.profile_pic == ""  %}
                                        No Image
                                        {% else %}
                                        <img class="img img-fluid mb-2" height="56" width="56"
                                            src="{{projectEngineer.profile_pic}}" alt="">
                                        {% endif %}
                                    </td>
                                    
                                    <td><a href="{% url 'manager_edit_projectEngineer' projectEngineer.projectEngineer.id %}" class="btn btn-info">Edit</a> -
                                        <a href="{% url 'manager_delete_projectEngineer' projectEngineer.projectEngineer.id %}" class="btn btn-danger" onclick="return confirm('Are you sure about this ?')">Delete</a> -
                                        <a href="/calendar/projectEngineer/{{projectEngineer.projectEngineer.id}}" class="btn btn-success">Calendar</a>

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}